.gradient-vertical (@startColor: #eee, @endColor: #fff) {
  background-color: @startColor;
  background: -webkit-linear-gradient(top, @startColor, @endColor); /* Chrome10-25,Safari5.1-6 */
  background: -moz-linear-gradient(top, @startColor, @endColor); /* FF3.6-15 */
  background: -ms-linear-gradient(top, @startColor, @endColor); /* IE10 */
  background: -o-linear-gradient(top, @startColor, @endColor); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#b8b8b8', GradientType=0); /* IE6-9 */
}
.gradient-horizontal (@startColor: #ddd, @middle-color: #eee, @endColor: #fff) {
  background-color: @startColor;
  background-image: -webkit-linear-gradient(left, @startColor 0%, @middle-color 63%, @endColor 100%); /* Chrome10-25,Safari5.1-6 */
  background-image: -moz-linear-gradient(left, @startColor 0%, @middle-color 63%, @endColor 100%); /* FF3.6-15 */
  background-image: -ms-linear-gradient(left, @startColor 0%, @middle-color 63%, @endColor 100%); /* IE10 */
  background-image: -o-linear-gradient(left, @startColor 0%, @middle-color 63%, @endColor 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=@startColor, @endColor, GradientType=1) /* IE6-9 */
}