/* import external files */

@import "reset.less";
@import "functions.less";
@import "variables.less";

/* global styles */

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5px;
  }
  .container-wide {
    width: 100%;
  }
  .heading {
    .gradient-horizontal(@dark-blue, @dark-blue, @light-creme);
    h1 {
      color: @white;
      text-transform: uppercase;
    }
  }
  section {
    header {
      display: flex;
      h2 {
        border: 2px solid @dark-blue;
        color: @dark-blue;
        font-weight: @bold;
      }
    }
    .articles-container {
      article {
        border-radius: 10px;
        .gradient-vertical(@light-creme, @light-gray);
        .article-image {
          position: relative;
          img {
            width: 100%;
            z-index: 9;
          }
          .icon {
            background-image: url('./../../../public/images/sprite.png');
            overflow: hidden;
            position: absolute;
            display: inline-block;
            z-index: 10;
          }
        }
        .article-description {
          p {
            overflow: hidden;
          }
          small {
            font-weight: @bold;
            display: block;
          }
        }
      }
    }
    footer {
      display: flex;
      justify-content: center;
      button {
        border: 2px solid @dark-blue;
        color: @dark-blue;
        background: @white;
        font-weight: @extra-bold;
      }
    }
  }
}

/* Media Queries - Mobile First Approach */

@media (min-width: 320px) {
  .heading {
    h1 {
      padding: 20px 0;
      font-size: 24px;
      font-weight: @bold;
    }
  }
  section {
    padding: 10px 0;
    header {
      padding: 10px 0;
      h2 {
        border: 2px solid @dark-blue;
        padding: 3px;
      }
    }
    .articles-container {
      article {
        display: flex;
        padding: 5px 5px 5px 15px;
        margin: 5px 0;
        .article-image {
          flex: 5;
          .icon {
            bottom: 10px;
            right: 5px;
            &.icon-play {
              background-position: -8px -33px;
              width: 19px;
              height: 20px;
            }
            &.icon-photo {
              background-position: -85px -33px;
              width: 17px;
              height: 15px;
            }
          }
        }
        .article-description {
          font-size: 12px;
          margin-left: 10px;
          flex: 6;
          p {
            height: 56px;
            line-height: 14px;
          }
          small {
            margin-top: 10px;
            font-size: 8px;
            color: @dark-gray;
          }
        }
      }
      footer {
        margin: 10px 0;
        button {
          padding: 2px 10px;
        }
      }
    }
  }
}

@media (min-width: 480px) {
  .heading {
    h1 {
      padding: 20px 10px;
      font-size: 34px;
      font-weight: @extra-bold;
    }
  }
  section {
    header {
      justify-content: center;
      padding: 10px 0;
      h2 {
        border: 2px solid #161c7f;
        padding: 3px 20px 0;
        text-transform: uppercase;
      }
    }
    .articles-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      article {
        display: flex;
        flex-direction: column;
        padding: 5px;
        margin: 5px;
        width: calc(100% * (1 / 2) - 20px - 1px);
        .article-image {
          .icon {
            &.icon-play {
              background-position: -1px -1px;
              width: 26px;
              height: 27px;
            }
            &.icon-photo {
              background-position: -77px -3px;
              width: 25px;
              height: 23px;
            }
          }
        }
        .article-description {
          margin: 5px 0;
          small {
            margin: 10px 0;
            font-size: 8px;
            color: @black;
          }
        }
      }
    }
    footer {
      margin: 15px 0;
      button {
        padding: 0 10px 1px;
      }
    }
  }
}
